/* CCSTheme v 3.x */
/* General */

/* Colors */
.PageBgColorEXPack {
	background-color: #b4c8db;
	}

.FormTitleBgColorEXPack {
	background-color: #126ecc;
	}

.FormTitleFontColorEXPack {
	color: #ffffff;
	}

.CaptionBgColorEXPack {
	background-color: #dfdfdf;
	}

.CaptionFontColorEXPack {
	color: #000000;
	}

.DataBgColorEXPack {
	background-color: #f7f7f7;
	}

.AltDataBgColorEXPack {
	background-color: #e7f0f8;
	}

.DataFontColorEXPack {
	color: #000000;
	}

.LinkColorEXPack {
	color: #0059b2;
	}

.VisitedLinkColorEXPack {
	color: #830083;
	}

.HoverLinkColorEXPack {
	color: #ff0000;
	}




.HeaderEXPack {
	width: 100%;
	}

.HeaderEXPack th { 
	font-family: Arial; font-size: 110%; text-align: left;
	padding: 4px;
	background-image: url('Images/HeaderBg.gif'); color: #ffffff;
	width: 100%;
	white-space: nowrap;
	}





.HeaderEXPack a:link { 
	color: #ffffff;
	}

.HeaderEXPack a:visited { 
	color: #ffffff;
	}

.HeaderEXPack a:hover, .CaptionEXPack a:active { 
	color: #ffffff; text-decoration: none;
	}

.HeaderLeftEXPack { 
	background-image: url('Images/HeaderLeft.gif');
	}

.HeaderRightEXPack { 
	background-image: url('Images/HeaderRight.gif');
	background-position: right top;
	}

.HeaderLeftEXPack img{
	width: 9px;
	}

.HeaderRightEXPack img{
	width: 9px;
	}


/* Grid Options */
.GridEXPack { 
	border: 2px solid #126ecc;
	width: 100%;
	}

.CaptionEXPack th { 
	font-family: Arial; font-size: 80%; text-align: left; vertical-align: top;
	padding: 4px;
	border-top: 1px solid #dfdfdf; border-right: 1px solid #dfdfdf;
	background-image: url('Images/CaptionBg.gif'); color: #000000;
	white-space: nowrap;
	}

.CaptionEXPack td { 
	font-family: Arial; font-size: 80%; text-align: left; vertical-align: top;
	padding: 4px;
	border-top: 1px solid #dfdfdf; border-right: 1px solid #dfdfdf;
	background-image: url('Images/CaptionBg.gif'); color: #000000;
	white-space: nowrap;
	}





.CaptionEXPack a:link { 
	color: #000000;
	}

.CaptionEXPack a:visited { 
	color: #000000;
	}

.CaptionEXPack a:hover, .CaptionEXPack a:active { 
	color: #ff0000;
	}

.CaptionEXPack img {
	margin: 2px; 
	vertical-align: middle;
	}

.CaptionEXPack input {
	vertical-align: middle;
	}

.RowEXPack th { 
	font-family: Arial; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 4px;
	border-top: 1px solid #dfdfdf; border-right: 1px solid #dfdfdf;
	background-color: #f7f7f7; color: #000000;
	white-space: nowrap;
	color: #000000;
	}

.RowEXPack td { 
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #dfdfdf; border-right: 1px solid #dfdfdf;
	text-align: left;
	vertical-align: top;
	background-color: #f7f7f7; 
	color: #000000;
	}
	




caption.RowEXPack { 
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border: 2px solid #126ecc; border-bottom: 0px;
	text-align: left;
	vertical-align: top;
	background-color: #f7f7f7; 
	color: #000000;
	}





.RowEXPack a:link { 
	color: #0059b2;
	}

.RowEXPack a:visited { 
	color: #830083;
	}

.RowEXPack a:hover, .RowEXPack a:active { 
	color: #ff0000;
	}

.SeparatorEXPack{
	color: #126ecc;
	}

.SeparatorEXPack td{
	height: 1px;
	}


.AltRowEXPack th { 
	font-family: Arial; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 4px;
	border-top: 1px solid #dfdfdf; border-right: 1px solid #dfdfdf;
	background-color: #f7f7f7; color: #000000;
	white-space: nowrap;
	color: #000000;
	}

.AltRowEXPack td { 
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #dfdfdf; border-right: 1px solid #dfdfdf;
	text-align: left;
	vertical-align: top;
	background-color: #e7f0f8; 
	color: #000000;
	}





.AltRowEXPack a:link { 
	color: #0059b2;
	}

.AltRowEXPack a:visited { 
	color: #830083;
	}

.AltRowEXPack a:hover, .AltRowEXPack a:active { 
	color: #ff0000;
	}

.NoRecordsEXPack td { 
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #dfdfdf; border-right: 1px solid #dfdfdf;
	text-align: left;
	background-color: #f7f7f7; 
	color: #000000;
	vertical-align: top;
	}

.FooterEXPack td { 
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border: 1px solid #dfdfdf; border-left: 0px none;
	background-image: url('Images/CaptionBg.gif'); color: #000000;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	color: #000000;
	}





.FooterEXPack a:link { 
	color: #0059b2;
	}

.FooterEXPack a:visited { 
	color: #830083;
	}

.FooterEXPack a:hover, .FooterEXPack a:active { 
	color: #ff0000;
	}

.FooterEXPack img {
	margin: 2px; 
	vertical-align: middle;
	}

.FooterEXPack input {
	margin: 2px;
	vertical-align: middle;
	}

/* Record Options */
.RecordEXPack { 
	border: 2px solid #126ecc;
	width: 100%;
	}

.ErrorEXPack td { 
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #dfdfdf; border-right: 1px solid #dfdfdf;
	text-align: left;
	color: #FF0000;
	vertical-align: top;
	background-color: #f7f7f7; 
	}





.ControlsEXPack th { 
	font-family: Arial; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 4px;
	border-top: 1px solid #dfdfdf; border-right: 1px solid #dfdfdf;
	background-color: #f7f7f7; color: #000000;
	white-space: nowrap;
	color: #000000;
	}

.ControlsEXPack td { 
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #dfdfdf; border-right: 1px solid #dfdfdf;
	text-align: left;
	vertical-align: top;
	background-color: #f7f7f7; 
	color: #000000;
	}
	
.BottomEXPack td { 
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border: 1px solid #dfdfdf; border-left: 0px none;
	background-image: url('Images/CaptionBg.gif'); color: #000000;
	text-align: right;
	vertical-align: middle;
	white-space: nowrap;
	color: #000000;
	}





.BottomEXPack a:link { 
	color: #0059b2;
	}

.BottomEXPack a:visited { 
	color: #830083;
	}

.BottomEXPack a:hover, .CaptionEXPack a:active { 
	color: #ff0000;
	}

.BottomEXPack img {
	margin: 2px;
	vertical-align: middle; 
	}

.BottomEXPack input {
	margin: 2px;
	vertical-align: middle;
	}

/* Report */
.GroupCaptionEXPack th{
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #dfdfdf; border-right: 1px solid #dfdfdf;
	white-space: nowrap;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #e7f0f8; 
	color: #000000;
	}

.GroupCaptionEXPack td{
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #dfdfdf; border-right: 1px solid #dfdfdf;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #f7f7f7; 
	color: #000000;
	}





.GroupCaptionEXPack a:link {
	color: #000000;
	}

.GroupCaptionEXPack a:visited{
	color: #000000;
	}

.GroupCaptionEXPack a:hover, .GroupCaptionEXPack a:active{
	color: #ff0000;
	}

.GroupFooterEXPack td{
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border: 1px solid #dfdfdf; border-left: 0px none;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	background-color: #dfdfdf; 
	color: #000000;
	}





.GroupFooterEXPack a:link {
	color: #0059b2;
	}

.GroupFooterEXPack a:visited{
	color: #830083;
	}

.GroupFooterEXPack a:hover, .GroupFooterEXPack a:active{
	color: #ff0000;
	}

.GroupFooterEXPack img {
	margin: 2px; 
	vertical-align: middle;
	}

.GroupFooterEXPack input {
	margin: 2px;
	vertical-align: middle;
	}

.SubTotalEXPack td{
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #dfdfdf; border-right: 1px solid #dfdfdf;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #e7f0f8; 
	color: #000000;
	border-bottom: 2px solid #126ecc;
	}





.SubTotalEXPack a:link {
	color: #0059b2;
	}

.SubTotalEXPack a:visited{
	color: #830083;
	}

.SubTotalEXPack a:hover, .SubTotalEXPack a:active{
	color: #ff0000;
	}

.TotalEXPack td{
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #dfdfdf; border-right: 1px solid #dfdfdf;
	text-align: left;
	vertical-align: top;
	white-space: nowrap;
	font-weight: bold;
	background-color: #e7f0f8; 
	color: #000000;
	}





.TotalEXPack a:link {
	color: #0059b2;
	}

.TotalEXPack a:visited{
	color: #830083;
	}

.TotalEXPack a:hover, .TotalEXPack a:active{
	color: #ff0000;
	}

/* Form Options */
.ButtonEXPack { 
	background-color: #126ecc; color: #ffffff; border-left: solid 1px #EDEDED; border-top: solid 1px #EDEDED; border-right: solid 1px #848284; border-bottom: solid 1px #848284; padding: 2px; font-weight: bold; font-size: 85%; font-family: Tahoma;
	}

/* Calendar */

.CalendarEXPack { 
	border: 2px solid #126ecc;
	width: 100%;
	}

.CalendarWeekdayNameEXPack{
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #dfdfdf; border-right: 1px solid #dfdfdf;
	text-align: center; 
	vertical-align: top;
	white-space: nowrap;
	background-color: #e7f0f8; 
	color: #000000;
	font-weight: normal;
	}





.CalendarWeekdayNameEXPack a:link {
	color: #0059b2;
	}

.CalendarWeekdayNameEXPack a:visited{
	color: #830083;
	}

.CalendarWeekdayNameEXPack a:hover, .CalendarWeekdayNameEXPack a:active{
	color: #ff0000;
	}

.CalendarWeekendNameEXPack{
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #dfdfdf; border-right: 1px solid #dfdfdf;
	white-space: nowrap;
	text-align: center; 
	vertical-align: top;
	background-color: #e7f0f8;	
	color: #000000;
	font-weight: normal;
	}





.CalendarWeekendNameEXPack a:link {
	color: #000000;
	}

.CalendarWeekendNameEXPack a:visited{
	color: #000000;
	}

.CalendarWeekendNameEXPack a:link, .CalendarWeekendNameEXPack a:visited{
	color: #ff0000;
	}

/* Calendar Day */
.CalendarDayEXPack{
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #dfdfdf; border-right: 1px solid #dfdfdf;
	text-align: center;
	background-color: #f7f7f7;	
	color: #000000;
	}





.CalendarDayEXPack a:link {
	color: #0059b2;
	}

.CalendarDayEXPack a:visited{
	color: #830083;
	}

.CalendarDayEXPack a:hover, .CalendarDayEXPack a:active{
	color: #ff0000;
	}

/* Calendar Weekend */
.CalendarWeekendEXPack{
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #dfdfdf; border-right: 1px solid #dfdfdf;
	text-align: center;
	background-color: #e7f0f8;	
	color: #000000;
	}





.CalendarWeekendEXPack a:link {
	color: #0059b2;
	}

.CalendarWeekendEXPack a:visited{
	color: #830083;
	}

.CalendarWeekendEXPack a:hover, .CalendarWeekendEXPack a:active{
	color: #ff0000;
	}

/* Calendar Today */
.CalendarTodayEXPack {
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border: 2px solid #126ecc;
	text-align: center;
	background-color: #f7f7f7;	
	color: #000000;
	}





.CalendarTodayEXPack a:link {
	color: #0059b2;
	}

.CalendarTodayEXPack a:visited{
	color: #830083;
	}

.CalendarTodayEXPack a:hover, .CalendarTodayEXPack a:active {
	color: #ff0000;
	}

/* Calendar Weekend Today */
.CalendarWeekendTodayEXPack {
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border: 2px solid #126ecc;
	text-align: center;
	background-color: #e7f0f8;	
	color: #000000;
	}





.CalendarWeekendTodayEXPack a:link {
	color: #0059b2;
	}

.CalendarWeekendTodayEXPack a:visited{
	color: #830083;
	}

.CalendarWeekendTodayEXPack a:hover, .CalendarWeekendTodayEXPack a:active{
	color: #ff0000;
	}

/* Calendar Other Month's Day */
.CalendarOtherMonthDayEXPack{
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #dfdfdf; border-right: 1px solid #dfdfdf;
	text-align: center;
	background-color: #f7f7f7;	
	color: #126ecc;
	}





.CalendarOtherMonthDayEXPack a:link {
	color: #126ecc;
	}

.CalendarOtherMonthDayEXPack a:visited{
	color: #126ecc;
	}

.CalendarOtherMonthDayEXPack a:hover, .CalendarOtherMonthDayEXPack a:active{
	color: #ff0000;
	}

/* Calendar Other Month's Today */
.CalendarOtherMonthTodayEXPack {
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border: 2px solid #126ecc;
	text-align: center;
	background-color: #f7f7f7;	
	color: #126ecc;
	}





.CalendarOtherMonthTodayEXPack a:link {
	color: #126ecc;
	}

.CalendarOtherMonthTodayEXPack a:visited{
	color: #126ecc;
	}

.CalendarOtherMonthTodayEXPack a:hover, .CalendarOtherMonthTodayEXPack a:active{
	color: #ff0000;
	}

/* Calendar Other Month's Weekend */
.CalendarOtherMonthWeekendEXPack {
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #dfdfdf; border-right: 1px solid #dfdfdf;
	text-align: center;
	background-color: #e7f0f8;	
	color: #126ecc;
	}





.CalendarOtherMonthWeekendEXPack a:link {
	color: #126ecc;
	}

.CalendarOtherMonthWeekendEXPack a:visited{
	color: #126ecc;
	}

.CalendarOtherMonthWeekendEXPack a:hover, .CalendarOtherMonthWeekendEXPack a:active{
	color: #ff0000;
	}

/* Calendar Other Month's Weekend Today */
.CalendarOtherMonthWeekendTodayEXPack {
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border: 2px solid #126ecc;
	text-align: center;
	color: #126ecc;
	background-color: #e7f0f8;	
	}
	




.CalendarOtherMonthWeekendTodayEXPack a:link {
	color: #126ecc;
	}

.CalendarOtherMonthWeekendTodayEXPack a:visited{
	color: #126ecc;
	}

.CalendarOtherMonthWeekendTodayEXPack a:hover, .CalendarOtherMonthWeekendTodayEXPack a:active{
	color: #ff0000;
	}

/* Calendar Selected Day (for DatePicker) */
.CalendarSelectedDayEXPack{
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #dfdfdf; border-right: 1px solid #dfdfdf;
	background-color: #dfdfdf;
	color: #000000;
	text-align: center;
	font-weight: bold;
	}
	




.CalendarSelectedDayEXPack a:link {
	color: #000000;
	}

.CalendarSelectedDayEXPack a:visited{
	color: #000000;
	}

.CalendarSelectedDayEXPack a:hover, .CalendarSelectedDayEXPack a:active{
	color: #ff0000;
	}

/* Calendar Navigator */
.CalendarNavigatorEXPack {
	font-family: Arial; font-size: 80%;
	padding: 4px;
	background-image: url('Images/CaptionBg.gif'); color: #000000;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	color: #000000;
	}





.CalendarNavigatorEXPack a:link {
	color: #0059b2;
	}

.CalendarNavigatorEXPack a:visited{
	color: #830083;
	}

.CalendarNavigatorEXPack a:hover, .CalendarNavigatorEXPack a:active{
	color: #ff0000;
	}

.CalendarNavigatorEXPack img{
	margin: 2px;
	vertical-align: middle; 	
	}

.CalendarNavigatorEXPack td {
	font-family: Arial; font-size: 80%;
	}

.CalendarNavigatorEXPack th {
	font-family: Arial; font-size: 80%;
	}





/* Calendar Extra */
.CalendarEventEXPack{
	font-family: Arial; font-size: 80%;
	text-align: left;
	}





.CalendarEventEXPack a:link {
	color: #0059b2;
	}

.CalendarEventEXPack a:visited{
	color: #830083;
	}

.CalendarEventEXPack a:hover, .CalendarEventEXPack a:active{
	color: #ff0000;
	}

/* Changes for Section508 */
table tr td strong {
	padding: 0px;
	margin: 0px;
}

.thEXPack { 
	font-family: Arial; font-size: 80%;
	font-weight: bold;
}





.HeaderEXPack .thEXPack { 
	font-family: Arial; font-size: 110%; text-align: left;
	padding: 4px;
	background-image: url('Images/HeaderBg.gif'); color: #ffffff;
	width: 100%;
	white-space: nowrap;
}





.CaptionEXPack .thEXPack { 
	font-family: Arial; font-size: 80%; text-align: left; vertical-align: top;
	padding: 4px;
	border-top: 1px solid #dfdfdf; border-right: 1px solid #dfdfdf;
	background-image: url('Images/CaptionBg.gif'); color: #000000;
	white-space: nowrap;
}





.RowEXPack .thEXPack { 
	font-family: Arial; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 4px;
	border-top: 1px solid #dfdfdf; border-right: 1px solid #dfdfdf;
	background-color: #f7f7f7; color: #000000;
	white-space: nowrap;
	color: #000000;
}

.AltRowEXPack .thEXPack { 
	font-family: Arial; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 4px;
	border-top: 1px solid #dfdfdf; border-right: 1px solid #dfdfdf;
	background-color: #f7f7f7; color: #000000;
	white-space: nowrap;
	color: #000000;
}

.ControlsEXPack .thEXPack { 
	font-family: Arial; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 4px;
	border-top: 1px solid #dfdfdf; border-right: 1px solid #dfdfdf;
	background-color: #f7f7f7; color: #000000;
	white-space: nowrap;
	color: #000000;
}

.GroupCaptionEXPack .thEXPack {
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #dfdfdf; border-right: 1px solid #dfdfdf;
	text-align: left;
	white-space: nowrap;
	vertical-align: top;
	font-weight: bold;
	background-color: #e7f0f8; 
	color: #000000;
}





/* Class for Application Builder Menu */
.simpleMenuEXPack td {
	font-family: Arial; font-size: 80%;
}




